body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

main {
    padding: 16px;
    max-width: 800px;
    margin: 0 auto;
}

body.auth-page main {
    max-width: 100%;
    padding: 0;
}

main a {
    color: #4fbcff;
    transition: color 0.2s;
}

main a:hover {
    color: #70c7ff;
    text-decoration: underline;
}
